<!DOCTYPE html>
<html lang="en" class="container">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="http://localhost:3333/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div id="app" class="container">
      <div class="search">search</div>
      <div id="todo-list" hx-get="/taskList" hx-trigger="load"></div>
      <div id="list" hx-post="/ani">zzz</div>
      <form
        id="myForm"
        hx-post="/save"
        hx-trigger="submit"
        hx-target="#todo-list"
        hx-swap="beforeend"
      >
        <input type="text" name="task" required />
        <input type="submit" value="save" />
      </form>
      <div id="ws" hx-ws="connect:/ws" hx-trigger="task">
        <form
          id="myForm1"
          hx-ws="send:submit"
          hx-target="#todo-list"
          hx-swap="beforeend"
        >
          <input type="text" name="task" required />
          <input type="submit" value="save ws" />
        </form>
        <form
          id="myForm2"
          hx-delete="/delete"
          hx-trigger="submit"
          hx-target="#todo-list"
          hx-swap="beforeend"
        >
          <input type="text" name="task" required />
          <input type="submit" value="delete" />
        </form>
      </div>
    </div>
  </body>
</html>
